.dock-outer {
  margin: 0 0.5rem;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.dock-panel {
  position: fixed;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: flex-end;
  gap: 1rem;

  border-radius: 18px;

  background: rgba(15, 30, 70, 0.7);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(88, 243, 218, 0.2);

  padding: 0.6rem 1rem;
}

.dock-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);

  color: white;

  cursor: pointer;
  transition: 0.2s ease;
}

.active-dock {
  border: 1px solid #58f3da !important;
  box-shadow: 0 0 12px rgba(88, 243, 218, 0.4);
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dock-label {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  background: rgba(15, 30, 70, 0.9);
  border: 1px solid rgba(88, 243, 218, 0.2);
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  color: #fff;
  transform: translateX(-50%);
}
