* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

/* MAIN LAYOUT */
.login-wrapper {
  height: auto;

  background: linear-gradient(
    135deg,
    #570010 0%,
    #6a0013 15%,
    #8b1a28 30%,
    #b5b29d 50%,
    #8b1a28 70%,
    #6a0013 85%,
    #570010 100%
  );

  background-size: 400% 400%;
  animation: gradientMove 12s ease-in-out infinite;
}

/* Smooth, symmetrical animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LEFT PANEL */

.logo {
  width: 160px;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.4));
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px;
  color: #dad9d2;
}

.left-panel h1 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 5px;
}

.left-panel p {
  font-size: 18px;
  margin-top: 12px;
  opacity: 0.8;
}

/* RIGHT PANEL */
.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN CARD */
.login-card {
  width: 380px;
  padding: 50px 40px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 20px;

  background: #c3516094;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border: 1px solid rgba(218, 217, 210, 0.25);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
}

/* ONLY border glow */
.login-card:hover {
  border: 1px solid #333;
  box-shadow:
    0 0 8px #1c1c1c,
    0 0 16px rgba(0, 0, 0, 0.4);
}

.login-card h2 {
  color: #570010;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 550;
}

/* FLOATING LABEL INPUT */
.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-bottom: 2px solid rgba(218, 217, 210, 0.5);
  background: transparent;
  color: #570010;
  font-size: 15px;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 0px;
  top: 12px;
  color: rgba(218, 217, 210, 0.8);
  font-size: 14px;
  transition: 0.3s ease;
  pointer-events: none;
}

/* floating effect */
.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 15px;
  color: #570010;
}

/* BUTTON */
.login-card button {
  width: 100%;
  padding: 12px;
  background: #570010;
  color: #dad9d2;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.login-card button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* FORGOT */
.forgot {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  color: rgba(218, 217, 210, 0.7);
  cursor: pointer;
  text-align: right;
}

.register {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  color: rgba(218, 217, 210, 0.7);
  cursor: pointer;
  text-align: center;
}

.login-card {
  transition: 0.3s ease;
  transform: none;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
  color: rgba(218, 217, 210, 0.6);
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: rgba(218, 217, 210, 0.3);
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.google-btn {
  width: 100%;
  padding: 12px;
  background: #ffffff;
  color: #333;
  border: none;
  border-radius: 10px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  transition: 0.3s ease;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.google-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}
