.room-wrapper {
  min-height: 100vh;
  padding: 30px;

  background: linear-gradient(
    135deg,
    #570010 0%,
    #6a0013 15%,
    #8b1a28 30%,
    #b5b29d 50%,
    #8b1a28 70%,
    #6a0013 85%,
    #570010 100%
  );

  background-size: 400% 400%;
  animation: gradientMove 12s ease-in-out infinite;
  color: #dad9d2;
}

.room-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.room-actions button {
  margin-left: 10px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.start-btn {
  background: #dade2d;
  color: #570010;
  font-weight: 600;
}

.leave-btn {
  background: #570010;
  color: #dad9d2;
}

.room-layout {
  display: flex;
  gap: 20px;
}

.chat-section {
  flex: 2;
  background: #c3516094;
  backdrop-filter: blur(25px);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.chat-input button {
  padding: 8px 12px;
  background: #570010;
  color: #dad9d2;
  border-radius: 8px;
  border: none;
}

.side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.participants-card,
.timer-card {
  background: #c3516094;
  backdrop-filter: blur(25px);
  border-radius: 20px;
  padding: 20px;
}
