.aurora-container {
  width: 100%;
  height: 100%;
  pointer-events: none; /* IMPORTANT */
}

/*.aurora-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}*/

/*.aurora-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}*/
